h4 {
  background-image: linear-gradient(
    to right,
    /* rgba(170, 140, 216, 0.25) 100%, */ rgba(203, 255, 15, 0.4) 100%,
    transparent 100%
  );
  background-size: 1em 0.25em;
  background-position: 0px 0.74em;
  background-repeat: repeat-x;
  display: inline-block;
  font-size: 1.1rem;
}
